body{
    background: lightblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.assignment{
    display:flex; 
    padding:10px;
    margin:10px;
    background: lightslategrey
}

.assignment img{
    width:300px; 
    padding:10px;
}

h1{
    text-align: center;
}

a{
    text-decoration:none; 
    color:PeachPuff;
}